/* Floating Blobs */

.blob{
    position:fixed;
    border-radius:50%;
    filter:blur(80px);
    z-index:-1;
    animation:float 12s ease-in-out infinite;
}

.blob1{
    width:350px;
    height:350px;

    background:#7dd3fc;

    top:-80px;
    left:-80px;
}

.blob2{
    width:300px;
    height:300px;

    background:#c4b5fd;

    top:40%;
    right:-100px;

    animation-delay:2s;
}

.blob3{
    width:280px;
    height:280px;

    background:#bfdbfe;

    bottom:-80px;
    left:35%;

    animation-delay:4s;
}

@keyframes float{

    0%{
        transform:
        translateY(0px)
        translateX(0px);
    }

    25%{
        transform:
        translateY(-30px)
        translateX(20px);
    }

    50%{
        transform:
        translateY(20px)
        translateX(-20px);
    }

    75%{
        transform:
        translateY(-15px)
        translateX(25px);
    }

    100%{
        transform:
        translateY(0px)
        translateX(0px);
    }
}

